.hd_box,.hd2_top,.hd2_content,.hd2_btm { width:1021px; overflow:hidden}
.hd_box { width:1021px; margin:0 auto}
.hd2_top { height:192px; background:url(hd2_topbg.jpg) no-repeat}
.hd2_content { height:524px; background:url(hd2_midbg.jpg) no-repeat; position:relative}
.hd2_btm { height:61px; background:url(hd2_btmbg.jpg) no-repeat}

.hd2_top h2 { text-indent:-999999px}
.hd2_pages { position:absolute; top:15px; left:410px}
.hd2_pages a { display:inline-block; width:37px; height:38px; line-height:38px; color:#ffb973; text-align:center; font-size:18px; font-family:arial; background:url(pagenum_bg.png) 0 -39px no-repeat; text-decoration:none; margin:0 5px}
.hd2_pages a.on { background:url(pagenum_bg.png) 0 0 no-repeat; color:#fff}

.ShowLeft,.ShowRight { width:46px; height:75px; background:url(arrow.png) 0 0 no-repeat; display:block; cursor:pointer; position:absolute; left:65px; top:450px}
.ShowRight { background:url(arrow.png) -46px 0 no-repeat; left:1150px}
.ShowLeft:hover { background-position:0 0}
.ShowRight:hover { background-position:-46px 0}
.ShowBox { width:720px; height:400px; margin:55px auto 20px; _padding-top:55px; color:#630; font-size:14px; font-weight:bold}
.hd2_title1,.hd2_title2,.hd2_title3,.hd2_title4 { height:47px; width:324px; background:url(titles.png) no-repeat; text-indent:-999999px; margin-bottom:4px}
.hd2_title2 { background-position:0 -48px}
.hd2_title3 { background-position:0 -95px}
.hd2_title4 { background-position:0 -142px}
.sub_title1,.sub_title2 { background:url(sub_title.png) no-repeat; display:block; height:37px; text-indent:-999999px; margin:12px 0 6px}
.sub_title2 { background-position:0 -38px}
.ShowBox h5,.ShowBox p { padding-left:6px}
.ShowBox p { line-height:23px}
.ShowBox p b { color:red}