{% extends 'base.html'%}

{% block seo %}
<title>武汉麻将-最新活动</title>
<meta name="keywords" content="武汉麻将-最新活动" />
<meta name="description" content="武汉麻将-最新活动" />
{% endblock %}

{% block head %}
<link href="{{constant('STATIC_HOST')}}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<style>
    .one_box .one.unread a.title{background:url('');text-indent:0px;}
    .one_box .one a.title{background:url('');text-indent:0px;}
</style>
{% endblock %}


{% block content %}
<!--content-->
<div id="m_content_2">
    <h3><a href="/"><em></em></a><b class="xtgg">最新活动</b></h3>
    <div class="gg_list">
        <div class="one_box">

          <!--  <div class="one unread hid_more">
                <a class="title">查找某张牌在剩下的牌中的近似位置</a>
                <span class="time">2014-03-04</span>
                <span class="message">又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了<a href="#" class="more">查看详情>></a></span>
            </div>
            <div class="one even hid_more">
                <a class="title">查找某张牌在剩下的牌中的近似位置</a>
                <span class="time">2014-03-04</span>
                <span class="message">又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了<a href="#" class="more">查看详情>></a></span>
            </div>
            <div class="one hid_more">
                <a class="title">查找某张牌在剩下的牌中的近似位置</a>
                <span class="time">2014-03-04</span>
                <span class="message">又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？Ba感谢广大网友这一年的支持和厚爱，特来给您送礼了又是一年岁末时，圣诞、元旦竞相到来，在这美好的节日里收到礼物了吗？BabyBox为了感谢广大网友这一年的支持和厚爱，特来给您送礼了<a href="#" class="more">查看详情>></a></span>
            </div>
-->
            {% for item in list %}
                {% if loop.index%2 == 0 %}
                    <div class="one even  hid_more">
                {% else %}
                    <div class="one  hid_more">
                {% endif %}
                    <a class="title" href="/activity/detail/{{item.id}}" target="_blank">{{item.name}}</a>
                    <span class="time">{{item.publish_time}}</span>
                    <span class="message">{{item.content}}<a href="/activity/detail/{{item.id}}" class="more" target="_blank">查看详情>></a></span>
            </div>
            {% endfor %}

        </div>
        <div class="pagination">
            <ul>
             {{pagiation|raw}}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
