{% extends 'base.html' %}

{% block seo %}
<title>{{activity.name}}</title>
<meta name="keywords" content="武汉麻将-{{activity.name}}" />
<meta name="description" content="武汉麻将-{{activity.name}}" />
{% endblock %}

{% block head %}
<link href="{{ constant('STATIC_HOST')}}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="{{ constant('STATIC_HOST')}}/img/index_Style.css">
{% endblock %}

{% block content %}
<!--content-->
<div id="m_content_2">
    <div class="zxhd_banner">
        <h2 class="zxhd_title">{{activity.name}}</h2>
        <img src="http://{{activity.web_image_url}}" class="zxhd_pic" style="display:" />
    </div>
    <div class="hdgz" style="height:auto">
        {{activity.content|raw}}
    </div>
</div>
{% endblock %}
