<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {%block seo%}
    {% endblock %}
    <link href="{{ constant('STATIC_HOST') }}/img/common_Style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/common/jquery.min.js " ></script>
    <script>
        var cur_navigator = "{{navigator}}";
    </script>
    <script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/navigator.js "></script>
    {% block head %}
    {% endblock %}
</head>

<body>

{% block two_dimension_code %}
<!--二维码-->
{% endblock %}

<!--top-->
{% block top %}
<div id="top">
    <h1 class="logo">武汉麻将</h1>
    <div class="nav">
        <a href="{{ constant('BASE_HOST') }}">主页</a>|
        <a href="{{ constant('BASE_HOST') }}/match"><span class="hot2"><b>1</b></span>比赛</a>|
        <a href="{{ constant('BASE_HOST') }}/activity">最新活动</a>|
        <a href="{{ constant('BASE_HOST') }}/rank">封神榜</a>|
        <a href="{{ constant('BASE_HOST') }}/introduce">游戏规则</a>|
        <a href="{{ constant('BASE_HOST') }}/store">道具商城</a>|
        <a href="{{ constant('BASE_HOST') }}/service">客户服务</a>|
        <a href="{{ constant('BASE_HOST') }}/aboutus">关于我们</a>
    </div>
</div>
{% endblock %}
<!--content-->
{% block content %}
{% endblock %}
<!--foot-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1252989929'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1252989929' type='text/javascript'%3E%3C/script%3E"));document.getElementById('cnzz_stat_icon_1252989929').style.display = 'none';</script>
<span id="cnzz_stat_icon_1252989929" style="display: none;"><a href="http://www.cnzz.com/stat/website.php?web_id=1252989929" target="_blank" title="站长统计">站长统计</a></span>
<script src=" http://s19.cnzz.com/z_stat.php?id=1252989929" type="text/javascript"></script>
<script src="http://c.cnzz.com/core.php?web_id=1252989929&amp;t=z" charset="utf-8" type="text/javascript"></script>
<div id="foot">
    <p>抵制不良游戏&nbsp;拒绝盗版游戏&nbsp;注意自我保护&nbsp;谨防受骗上当&nbsp;适度游戏益脑&nbsp;沉迷游戏伤身&nbsp;合理安排时间&nbsp;享受健康生活</p>
    <p>版权所有 武汉新蜂乐众网络技术有限公司<img align="absmiddle" style="vertical-align: -1px; margin-left: 5px" src="{{constant('STATIC_HOST')}}/img/newbee.png"><a target="_blank" href="http://www.miitbeian.gov.cn/">ICP：鄂ICP备14001438号</a><img width="30" style="vertical-align: -7px; margin-right:-5px" src="{{constant('STATIC_HOST')}}/img/gameRFID.png"><a target="_blank" href="http://182.131.21.137/ccnt-apply/admin/business/preview/business-preview!lookUrlRFID.action?main_id=36415BBF7D7B4CBB9D6DEE27E3152CA5">鄂网文【2014】1195-014</a></p>
    <!--<p><a href="#">首页</a><a href="#">关于我们</a><a href="#">微信XXXXX</a><a href="#">新浪微博XXX</a><a href="#">腾讯微博XXX</a></p>-->
</div>
</body>
</html>
