{% extends 'base.html'%}

{% block seo %}
<title>武汉麻将-密码找回-第三步</title>
<meta name="keywords" content="武汉麻将-密码找回-第三步" />
<meta name="description" content="武汉麻将-密码找回-第三步" />
{% endblock %}

{% block head %}
<script>
    var token = "{{token}}";
</script>
<link href="{{constant('STATIC_HOST')}}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{constant('STATIC_HOST')}}/js/common/jquery.ext.js" ></script>
<script type="text/javascript" src="{{constant('STATIC_HOST')}}/js/common/md5.min.js" ></script>
<script type="text/javascript" src="{{constant('STATIC_HOST')}}/js/forget_pwd_3.js" ></script>
{% endblock %}

{% block content %}
<!--content-->
<div id="m_content_2">
    <h3><a href="/"><em></em></a><b class="tgxx">找回密码：请修改您的密码</b></h3>
    <div class="zhmm_mid">
        <form action="/user/password/4" method="post" id="_form">
        <input type="hidden" name="csrf_token" value="{{token}}" />
        <input type="hidden" name="confirm_key" value="{{confirm_key}}" />
        <input type="hidden" name="unum" value="{{unum}}" />
        <table width="790" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="260" align="right" class="bold">* 新密码：</td>
                <td width="530"><input type="password" name="password" id="password" class="input" /><label>6-16位字母、符号或数字</label></td>
            </tr>
            <tr>
                <td class="bold" align="right">* 确认新密码：</td>
                <td><input type="password" name="_password" id="_password" class="input" /><label>两次输入的密码不一致</label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" id=""  onclick="form_submit()" class="submit_3" value="确认修改" /></td>
            </tr>
        </table>
        </form>
    </div>
</div>
{% endblock %}