{% extends 'base.html'%}

{% block seo %}
<title>武汉麻将-密码找回-第一步</title>
<meta name="keywords" content="武汉麻将-密码找回-第一步" />
<meta name="description" content="武汉麻将-密码找回-第一步" />
{% endblock %}

{% block head %}
<script>
    var token = "{{token}}";
</script>
<link href="{{constant('STATIC_HOST')}}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{constant('STATIC_HOST')}}/js/common/jquery.ext.js" ></script>
<script type="text/javascript" src="{{constant('STATIC_HOST')}}/js/forget_pwd_1.js" ></script>
{% endblock %}

{% block content %}
<!--content-->
<div id="m_content_2">
    <h3><a href="/"><em></em></a><b class="tgxx">找回密码</b></h3>
    <div class="zhmm_mid">
        <form action="/user/password/2" method="post" id="_form">
            <input type="hidden" name="csrf_token" value="{{token}}" />
        <table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="90" align="right" class="bold">* 账号：</td>
                <td width="330"><input type="text" name="login_name" id="login_name" class="input" /><label
                        >账号错误</label></td>
            </tr>
            <tr>
                <td class="bold" align="right">* 注册邮箱：</td>
                <td><input type="text" name="email" id="email" class="input" /><label>用户名与邮箱不符</label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" onclick="form_submit()" id="" class="submit_3" value="下一步" /></td>
            </tr>
        </table>
        </form>
    </div>
</div>
{% endblock %}
