{% extends 'base.html' %}
{% block seo %}
<title>武汉麻将-游戏充值</title>
<meta name="keywords" content="武汉麻将-游戏充值" />
<meta name="description" content="武汉麻将-游戏充值" />
{% endblock %}
{% block head %}
<script>
    var pay_type = {{pay_type}};
</script>
<link href="{{constant('STATIC_HOST')}}/img/common_Style.css" rel="stylesheet" type="text/css" />
<link href="{{constant('STATIC_HOST')}}/img/index_Style.css" rel="stylesheet" type="text/css" />
<link href="{{constant('STATIC_HOST')}}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/common/jquery.ext.js" ></script>
<script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/common/mydialog.js" ></script>
<script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/prepare_pay.js" ></script>
{% endblock %}


{%block content %}
<!--pop-up note-->
<div class="pop-up-box" style="display:none; height:1240px"></div>
<form id="">
    <div class="note" style="display:none" id="show_confirm">
        <div class="note_top">
            <span class="note_ico_2"></span><span>确认充值</span><span class="close" onclick="closeDialog('note')"></span>
        </div>
        <div class="note_content">
            <div class="note_content_mlf">
                <p>您充值的用户名为：<span id="confirm_login_name">{{login_name}}</span></p>
                <p>您充值的金额为：<span id="confirm_rmb">50元</span></p>
            </div>
            <input type="button" onclick="go()"  id="" value="确认" class="y_btn3" />
        </div>
        <div class="note_btm"></div>
    </div>
</form>
<div class="note" id="show_complete" style="display:none;">
        <div class="note_top">
            <span class="note_ico_1"></span><span>等待用户确认</span><a href="/userinfo/"><span class="close"></span></a>
        </div>
        <div class="note_content">
            <!--<p><br /><em>（用户名是登录游戏时使用的帐号）</em></p>-->
            <a href="/userinfo/"><input type="button" id="success" class="y_btn3" value="支付成功"/></a>
            <a href="/service?pay_failed=1"><input type="button" id="faq" value="支付遇到问题" class="y_btn3" /></a>
        </div>
        <div class="note_btm"></div>
</div>

<!--content-->
<div id="m_content_2">
    <h3><a href="/"><em></em></a><b class="tgxx">充值</b><i>充值流程： 1-选择充值方式  -->  2-根据要求填写信息  -->  3-充值成功，进入</i></h3>
    <div class="fsb_box">
        <div class="fsb_top"></div>
        <div class="fsb_m_lf">
            <ul>
                <li class="on">银行卡支付</li>
                <li>支付宝支付</li>
                <li>手机卡支付</li>
            </ul>
        </div>
        <div class="cz_m_rt">
            <div class="cz_detail_box">
                <form id="go_form" action="/payment/go" method="post">
                <input type="hidden" name="csrf_token" id='token' value="{{token}}" />
                <input type="hidden" name="pay_type" id="pay_type" value="{{pay_type}}" />
                <h4>请填写需要充值的用户名</h4>
                <table width="90%" border="0" cellspacing="10" cellpadding="0">
                    <tr>
                        <td width="26%" align="right">用户名</td>
                        <td width="38%"><input type="text"  class="input" name="login_name" id="login_name" value="{{login_name}}" /></td>
                        <td width="36%">用户名即游戏登录帐号</td>
                    </tr>
                    <tr>
                        <td align="right">再次输入用户名</td>
                        <td colspan="2"><input type="text"  class="input" id="tw_login_name" value="{{login_name}}" /></td>
                    </tr>
                </table>
                <h4>请选择您需要的金钻数量</h4>
                <div class="choose_jz">
                    <ul>
                        {% for key,val in amount_types %}
                             {% if loop.index == 1%}
                                <li><input type="radio" checked="checked" class="radio" name='amount_type' value="{{key}}" /><img src="{{constant('STATIC_HOST')}}/img/diamond/{{key}}.jpg" align="absmiddle" /></li>
                             {% else %}
                                <li><input type="radio" class="radio" name='amount_type' value="{{key}}" /><img src="{{constant('STATIC_HOST')}}/img/diamond/{{key}}.jpg" align="absmiddle" /></li>
                             {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a class="ljcz_btn" href="javascript:;" onclick="confirmPay()">立即充值</a>
                </form>
            </div>
        </div>
        <div class="fsb_btm"></div>
    </div>
</div>
{% endblock %}




