<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="description" content="Expanding Image Menu with jQuery" />
		<meta name="keywords" content="menu, navigation, expanding, image, jquery, bw, slide out, hover, animate"/>
		<link rel="stylesheet" type="text/css" href="css/join.css" />
        <link href="img/secondary_Style.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="margin:0; padding:0">
   		<div id="m_content_2" style="padding:0">
    		<h3 style="width:989px; height:35px; font-size:23px; line-height:1.2; font-weight:200; margin-bottom:0; font-family:黑体; color:#ff8025"><em></em><b>可提供的职位</b></h3>
       	</div>
		<div id="ei_menu" class="ei_menu">
			<ul style="margin:0; padding:0; background:url(img/bw_bg.jpg) no-repeat;">
				<li>
					<a href="#" class="pos1">
						<span class="ei_preview"></span>
						<span class="ei_image"></span>
					</a>
					<div class="ei_descr">
						<h2>产品设计部</h2>
						<h3>设计师</h3>
						<p>
						<b>基本要求：</b><br/>
						1. 熟悉Photoshop、Dreamweaver、Fireworks；<br />
						2. 熟悉HTML/CSS，能根据不同的浏览器进行页面制作；<br />
						3. 能准确把握需求，通过分析和讨论，协助交互设计师和产品经理完成相应的视觉设计工作；<br />
						4. 有原画创作能力。
						</p>
					</div>
				</li>
				<li>
					<a href="#" class="pos2">
						<span class="ei_preview"></span>
						<span class="ei_image"></span>
					</a>
					<div class="ei_descr">
						<h2>客户端开发组</h2>
						<h3>网站前端开发</h3>
						<p>
						<b>基本要求：</b><br />
						1. 熟悉HTML、CSS、JavaScript等前台相关技术，熟悉W3C网页标准，能手写符合规范的页面，使标签语义化，并处理浏览器间的兼容性问题；<br />
						2. 理解AJAX运作机制，熟练运用至少一种AJAX框架，如jQuery、YUI、Dojo、ExtJS、Prototype等；<br />
						3. 了解前沿Web开发技术，如响应式设计，Media Queries，HTML5/CSS3。
						</p>
                        <h3>手机端开发</h3>
						<p>
						<b>基本要求：</b><br />
						1. 熟悉C++语言，学习能力强；<br />
                        2. 熟悉http/Socket编程；<br />
                        3. 熟悉cocos2d-x、lua者优先；<br />
                        4. 熟悉一般常用的2D、3D图形算法,熟练运用lua脚本语言,熟悉IOS/Android平台开发流程；<br />
                        5. 对面向对象的设计理念有较好的理解和运用。
						</p>
                        <h3>Flash开发</h3>
						<p>
						<b>基本要求：</b><br />
						1. 熟练使用ActionScript3；<br />
                        2. 有良好的面向对象设计能力以及开发习惯；<br />
                        3. 熟悉javascript与jQuery者优先。
						</p>
				 </div>
				</li>
				<li>
					<a href="#" class="pos3">
						<span class="ei_preview"></span>
						<span class="ei_image"></span>
					</a>
					<div class="ei_descr">
						<h2>系统开发组</h2>
                        <h3>网站后端开发</h3>
						<p>
						<b>基本要求：</b><br />
						1. 熟悉某种Web后端语言/框架，如PHP，Python，Ruby；Django，Ruby On Rails；<br />
						2. 熟练掌握SQL语句；<br />
						3. 熟悉MYSQL数据库的配置和优化；<br />
                        4. 具有SVN或GIT等版本控制系统在开发过程中的使用经验。
						</p>
					</div>
				</li>
				<li>
					<a href="#" class="pos4">
						<span class="ei_preview"></span>
						<span class="ei_image"></span>
					</a>
					<div class="ei_descr">
						<h2>市场部</h2>
						<h3>市场运营主管</h3>
						<p>
						<b>岗位职责：</b><br />
                        1. 深入了解网络游戏行业发展趋势及市场竞争态势，有效制定市场战略规划及市场营销方案；<br />
                        2. 结合公司发展战略，制定市场策略、广告策略、品牌策略和公关策略，并推进执行；<br />
                        3. 组织实施市场研究及市场分析，对市场的变化做出准确的判断和预测，对产品更新及公司决策提供有效建议；<br />
                        4. 有效利用市场手段帮助运营部门达成营销目标；<br />
                        5. 进行游戏市场调研与分析，研究同行、业界发展状况，定期进行市场预测及情报分析，为公司决策提供依据；<br />
                        6. 负责部门日常业务管理、人才培养，从业务能力、营销理念等各方面整体提升团队水平。
						</p>
                        <p>
                        <b>任职要求：</b><br />
                        1. 本科及以上学历，市场营销类相关专业；<br />
                        2. 热爱游戏行业，并充满激情；<br />
                        3. 5年以上相关行业市场经验，3年以上市场团队管理经验，并有成功的营销案例；<br />
                        4. 具备良好的市场敏感度，对网络游戏行业的市场营销工作有深刻的理解和认知；<br />
                        5. 掌握丰富的平台、媒体资源，并保持良好的合作关系；<br />
                        6. 有大局观，具备优秀的沟通能力和出色的谈判技巧；<br />
                        7. 有较强的组织协调能力和团队合作意识。
                        </p>
					</div>
				</li>
				<li>
					<a href="#" class="pos5">
						<span class="ei_preview"></span>
						<span class="ei_image"></span>
					</a>
					<div class="ei_descr">
						<h2>其它职位</h2>
						<p>暂无</p>
					</div>
				</li>

			</ul>
		</div>

		<!-- The JavaScript -->
		<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript">
			$(function() {
				var $menu				= $('#ei_menu > ul'),
					$menuItems			= $menu.children('li'),
					$menuItemsImgWrapper= $menuItems.children('a'),
					$menuItemsPreview	= $menuItemsImgWrapper.children('.ei_preview'),
					totalMenuItems		= $menuItems.length,
				
					ExpandingMenu 	= (function(){
						/*
							@current
							set it to the index of the element you want to be opened by default,
							or -1 if you want the menu to be closed initially
						 */
						var current				= 0,
						/*
							@anim
							if we want the default opened item to animate initialy set this to true
						 */
						anim				= false,
						/*
							checks if the current value is valid -
							between 0 and the number of items
						 */
						validCurrent		= function() {
							return (current >= 0 && current < totalMenuItems);
						},
						init				= function() {
								/* show default item if current is set to a valid index */
							if(validCurrent())
								configureMenu();

							initEventsHandler();
						},
						configureMenu		= function() {
								/* get the item for the current */
							var $item	= $menuItems.eq(current);
								/* if anim is true slide out the item */
							if(anim)
								slideOutItem($item, true, 900, 'easeInQuint');
							else{
									/* if not just show it */
								$item.css({width : '685px'})
								.find('.ei_image')
								.css({left:'0px', opacity:1});

									/* decrease the opacity of the others */
									$menuItems.not($item)
											  .children('.ei_preview')
											  .css({opacity:0.5});
							}
						},
						initEventsHandler	= function() {
								/*
								when we click an item the following can happen:
								1) The item is already opened - close it!
								2) The item is closed - open it! (if another one is opened, close it!)
								*/
							$menuItemsImgWrapper.bind('click.ExpandingMenu', function(e) {
								var $this 	= $(this).parent(),
								idx		= $this.index();

								if(current === idx) {
									slideOutItem($menuItems.eq(current), false, 1500, 'easeOutQuint', true);
									current = -1;
								}
								else{
									if(validCurrent() && current !== idx)
											slideOutItem($menuItems.eq(current), false, 250, 'jswing');

									current	= idx;
										slideOutItem($this, true, 250, 'jswing');
								}
								return false;
							});
						},
							/* if you want to trigger the action to open a specific item */
							openItem			= function(idx) {
								$menuItemsImgWrapper.eq(idx).click();
							},
							/*
							opens or closes an item
							note that "mLeave" is just true when all the items close,
							in which case we want that all of them get opacity 1 again.
							"dir" tells us if we are opening or closing an item (true | false)
							*/
						slideOutItem		= function($item, dir, speed, easing, mLeave) {
							var $ei_image	= $item.find('.ei_image'),

							itemParam	= (dir) ? {width : '685px'} : {width : '75px'},
							imageParam	= (dir) ? {left : '0px'} : {left : '75px'};

								/*
								if opening, we animate the opacity of all the elements to 0.1.
								this is to give focus on the opened item..
								*/
							if(dir)
							/*
									alternative:
									$menuItemsPreview.not($menuItemsPreview.eq(current))
													 .stop()
													 .animate({opacity:0.1}, 500);
							 */
								$menuItemsPreview.stop()
							.animate({opacity:1}, 1000);
							else if(mLeave)
								$menuItemsPreview.stop()
							.animate({opacity:1}, 1500);

								/* the <li> expands or collapses */
							$item.stop().animate(itemParam, speed, easing);
								/* the image (color) slides in or out */
							$ei_image.stop().animate(imageParam, speed, easing, function() {
									/*
									if opening, we animate the opacity to 1,
									otherwise we reset it.
									*/
								if(dir)
									$ei_image.animate({opacity:1}, 2000);
								else
									$ei_image.css('opacity', 1);
							});
						};

						return {
							init 		: init,
							openItem	: openItem
						};
					})();
					
				/*
				call the init method of ExpandingMenu
				*/
				ExpandingMenu.init();
			
			/*
			if later on you want to open / close a specific item you could do it like so:
			ExpandingMenu.openItem(3); // toggles item 3 (zero-based indexing)
			*/
			});
		</script>
	</body>
</html>