{% extends 'base.html' %}

{% block seo %}
<title>武汉麻将-封神榜</title>
<meta name="keywords" content="武汉麻将-封神榜" />
<meta name="description" content="武汉麻将-封神榜" />
{% endblock %}

{% block head %}
<script>
    var token = '{{token}}',rank_keys=[];
        {% for key, item in rank_keys %}
            rank_keys['{{key}}'] = '{{item}}';
        {% endfor %}
</script>
<link href="{{ constant('STATIC_HOST') }}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/common/jquery.ext.js" ></script>
<script type="text/javascript" src="{{ constant('STATIC_HOST')}}/js/rank.js" ></script>
{% endblock %}


{% block content %}
<div id="m_content_2">
    <h3><a href="/"><em></em></a><b class="tgxx">封神榜</b></h3>
    <div class="fsb_box">
        <div class="fsb_top"></div>
        <div class="fsb_m_lf">
            <ul>
                <li class="on" rel="coins">排名</li>
                <li rel="win_rate">胜率</li>
                <li rel="alltriples">碰碰胡</li>
                <li rel="littlewin">小胡</li>
                <li rel="allwind">风一色</li>
                <li rel="all258">将一色</li>
                <li rel="allothers">全求人</li>
                <li rel="allonesuite">清一色</li>
                <li rel="lastdrawablecard">海底捞</li>
                <li rel="winquadruplecard">杠上开花</li>
                <li rel="quadruplerobbery">抢杠</li>
                <li rel="topgold">金顶</li>
                <li rel="topdiamond">钻石顶</li>
            </ul>
        </div>
        <div class="fsb_m_rt">
            <div class="pm_menu"><a href="javascript:;" rel="global" class="on">总排名</a><a href="javascript:;" rel="week">周排名</a></div>
            <table width="577" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="98">排名</th>
                    <th width="144">用户</th>
                    <th width="100">所在地</th>
                    <th width="127">金币</th>
                    <th width="108" id="sp">胜率</th>
                </tr>
                {% for idx,item in orderlist%}
                <tr rel="render">
                    {% if loop.index0 % 2 == 0 %}
                            <td class="dark_bg">{{item.order}}</td>
                            {% if item.isme == 1%}
                                <td class="dark_bg"><font color="red">{{item.nickname}}</font></td>
                            {% else %}
                                 <td class="dark_bg">{{item.nickname}}</td>
                            {% endif %}
                            <td class="dark_bg">{{item.area}}</td>
                            <td class="dark_bg">{{item.coins}}</td>
                            <td class="dark_bg">{{item.win_rate}}</td>
                    {% else %}
                            <td>{{item.order}}</td>
                            {% if item.isme == 1%}
                                <td><font color="red">{{item.nickname}}</font></td>
                            {% else %}
                                <td>{{item.nickname}}</td>
                            {% endif %}
                            <td>{{item.area}}</td>
                            <td>{{item.coins}}</td>
                            <td>{{item.win_rate}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <p style="margin-bottom:30px">*此排名每日更新</p>
        </div>
        <div class="fsb_btm"></div>
    </div>
</div>
{% endblock %}