{% extends 'base.html' %}

{% block seo %}
<title>武汉麻将-个人消息</title>
<meta name="keywords" content="武汉麻将-个人消息" />
<meta name="description" content="武汉麻将-个人消息" />
{% endblock %}

{% block head %}
<link href="{{constant('STATIC_HOST')}}/img/secondary_Style.css" rel="stylesheet" type="text/css" />
<script src="{{constant('STATIC_HOST')}}/js/user_message.js"></script>
<style>
    .hid_more{
        height:28px;
    }
</style>
{% endblock %}

{% block content %}
<div id="m_content_2">
    <h3><a href='/userinfo'><em></em></a><b class="xtgg">个人消息</b></h3>
    <div class="gg_list">
        <div class="one_box">
                {%for item in list%}
                <div class="one
                {% if item.has_read == 0%}
                    unread
                {% endif %}
                {% if loop.index % 2 == 0 %}
                    even
                {% endif %}
                    hid_more" id="244" name="#244">

                    <a class="title" href="javascript:;" target="_blank" rel="{{item.has_read}}|{{item.msg_id}}">From: {{item.sender}}</a>
                    <span class="time">{{item.msg_time}}</span>
                    <span class="message" style="display:none">
                        {{item.content}}
                    </span>
                </div>
                {% endfor %}
            <div class="pagination">
                <ul>
                    {{pagination|raw}}
                </ul>
            </div>
    </div>
</div>
{% endblock %}

